<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>404 | PAGE NOT FOUND</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<!-- Badge in Bottom Right Corner -->
	<link rel="stylesheet" href="https://badge.coolcodersj.repl.co/style.css" />
	<a class="badge" href="https://replit.com/@IMightBeMe/" />
	<img src="{{ url_for('static', filename='img/replit-logo.svg') }}" alt="replit">IMightBeMe</a>

	<h1>Page Not Found</h1>

	<button class="btn" onclick="window.open('?','_self')">Go Home</button>
</body>
</html>